.ImagenInicial {
    display: block;
    max-width: 100%;
    height: auto;
}

.centrado {
    color: #fff;
    font-size: 265%;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-block {
    display: table;
    margin-top: 1.5%;  /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
}
.center-block #logout {
    margin-top: 200%;
}
.boton-login{
    display: flex;
}
.icon{
    flex: 1 1 auto;
    max-width: 10%;
}

.login{
    flex: 1 1 auto;
    margin-top: 2.5%;
}

.button-alarm {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    max-width: 20%;
    margin-left: 15%;
    text-align: center;
    color: #333;
    font-size: 150%;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  }
  